<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Where Intuition Becomes Reality</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="w3.css"> 
    <link rel="shortcut icon" href="images/favicon.ico">
       </head>
   <body>
 


         <div class="w3-row ">
               <div class="w3-container w3-center">
                <h2 class="w3-xlarge w3-relativity w3-margin-left">Syn<span style="border-bottom: solid; border-bottom-color: darkred;">tra Memb</span>ers<br><span class="w3-medium">Members found within Syntuition organization. For one to become a Syntuition member<br> he/she has to be elected by preexisting Syntuition (Syntra) members. All members in this catergory <br>were once rotation, summer, platform and undergraduate like you except founders of the organization.</span></h2>
                <div class="w3-quarter">
                                 <div class="w3-card w3-margin">
                       <button onclick="kako()" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Brighton Kakoma" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="koks" class="w3-medium w3-relativity">Br<span style="border-bottom:solid; border-bottom-color: peru;">ighton Kak</span>oma<br></p>
                                     </div> 
                  <div class="w3-card w3-margin">
                       <button onclick="bad();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Chomba Kapaya" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="choks" class="w3-medium w3-relativity">Ch<span style="border-bottom: solid; border-bottom-color: darkgreen;">omba Kapa</span>ya<br></p>
                         </div>
                 <script>
var e = 0;
var ko = 'Organization Interest:[???] Profession: Python Specialist ';
var kok = 50;

function kako() {
  if (e < ko.length) {
    document.getElementById("koks").innerHTML += ko.charAt(e);
    e++;
    setTimeout(kako, kok);
  }
}
</script> 
                 <script>
var c = 0;
var bab = 'Organization Interest:[???] Profession:';
var damn = 50;

function bad() {
  if (c < bab.length) {
    document.getElementById("choks").innerHTML += bab.charAt(c);
    c++;
    setTimeout(bad, damn);
  }
}
</script> 
                </div>
                
                 <div class="w3-quarter">
                   <div class="w3-card w3-margin">
     <button onclick="typeWriter();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Innocent Kayamba" class= "w3-circle w3-center" style= "width:50%;"></button>
                      <p id="aook" class="w3-medium w3-relativity">Inn<span style= "border-bottom:solid; border-bottom-color: blue;">ocent Kayam</span>ba<br> </p>
                         </div>
                  <script>
var i = 0;
var txt = 'Organization Interest: [SkyLab, Computer Animations & Spooky] Profession: Scenarist, 3D artist, HTML5, Ruby, Javascript & CSS3 Specialist';
var speed = 50;

function typeWriter() {
  if (i < txt.length) {
    document.getElementById("aook").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
</script> 
                </div>
                 <div class="w3-quarter">
                           <div class="w3-card w3-margin">
                       <button onclick="good();" class="w3-button w3-transparent"><img src="images/avatar1.png" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="kjp" class="w3-medium w3-relativity">Ja<span style="border-bottom: solid; border-bottom-color: crimson;">cob Kanyem</span>bo<br></p>
                         </div>

<script>
var k = 0;
var doc = 'Organization Interest: [Entrepreneur] Profession: Python Specialist';
var code = 50;

function good() {
  if (k < doc.length) {
    document.getElementById("kjp").innerHTML += doc.charAt(k);
    k++;
    setTimeout(good, code);
  }
}
</script> 
                </div>
                 <div class="w3-quarter">
                   <div class="w3-card w3-margin">
                       <button onclick="sim();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Simon Kayamba" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="mon" class="w3-medium w3-relativity">S<span style="border-bottom:solid; border-bottom-color: red;">imon Kaya</span>mba<br></p>
                                     </div>
                   <div class="w3-card w3-margin ">
                       <button onclick="tech();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Allan Mofya" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="hill" class="w3-medium w3-relativity"><span style="border-bottom: solid; border-bottom-color: peru;">Allan Mo</span>fya<br></p>
                         </div>
                </div>
                              <script>
var f = 0;
var cmo = 'Organization Interest: [???] Profession: Scenarist, Entrepreneur ';
var sk = 50;

function sim() {
  if (f < cmo.length) {
    document.getElementById("mon").innerHTML += cmo.charAt(f);
    f++;
    setTimeout(sim, sk);
  }
}
</script>
                <script>
var t = 0;
var sid = 'Organization Interest:[???] Profession: Computer Phone Software Repairing, Entrepreneur ';
var speed = 50;

function tech() {
  if (t < sid.length) {
    document.getElementById("hill").innerHTML += sid.charAt(t);
    t++;
    setTimeout(tech, speed);
  }
}
</script>
               </div>
               
               <hr>
               <!--Rotation Students-->
           <div class="w3-container w3-center">
            <h2 class="w3-xlarge w3-relativity w3-margin-left">R<span style="border-bottom: solid; border-bottom-color: deeppink;">otation Student</span>s<br><span class="w3-medium">Students with prior knowledge join and select fields of interest for advancement and development for a specific interval of time. In this section students are required to complete 3 fields of rotations. In here, students are at liberty to choose fields and are supersived by team leaders. Students are expected to work 16 hours weekly and are encouraged to discuss their expectations with their team leaders before starting each rotation and at the end of each rotation are expected to give a presentation of their work. Please note that there are three rotations in this field with each having an ultimate end.</span></h2>
               <div  class="w3-quarter">
                 
                           
              </div>

              

                            <div  class="w3-quarter">
            

              </div>
      
                   <div  class="w3-quarter ">
                 
                
              </div>

 
               
           <div class="w3-quarter">
                 
              </div>

           
          </div>
                   
            
       <hr>
       <!-- Members Section -->
       <!--Summer Students-->
         <div class="w3-container w3-center">
          <h2 class=" w3-margin-left w3-xlarge w3-relativity">S<span style="border-bottom:solid; border-bottom-color: sandybrown;">ummer Student</span>s<br><span class="w3-medium">Syntuition summer programme offers students pursing natural science, programming, computer animations or passionate with art to join<br> in the day to day work of Syntuition team in various fields. The minimum week of stay is 8 and maximum is 13. Students in this programme undergo various trainings through inter-displinary departments in order to enrich personal experience.  </span></h2>
                  <div  class="w3-quarter">
                  <div class="w3-card w3-margin">
                       <button onclick="kas();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Emmanuel Kasonde" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="kaso" class="w3-medium w3-relativity">Em<span style="border-bottom: solid; border-bottom-color: tomato;">manuel Kaso</span>nde<br></p>
                         </div>
              
             
<script>
var g = 0;
var uel = 'Organization Interest: [Computer Animations] Profession: 2D artist';
var dam = 50;

function kas() {
  if (g < uel.length) {
    document.getElementById("kaso").innerHTML += uel.charAt(g);
    g++;
    setTimeout(kas, dam);
  }
}
</script> 
                               <div class="w3-card w3-margin">
                       <button onclick="sed();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Sedson Kanyembo" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="mbu" class="w3-medium w3-relativity">Se<span style="border-bottom: solid; border-bottom-color: palegreen;">dson Kanye</span>mbu<br></p>
                         </div>
              </div>
             <script>
var j = 0;
var hip = 'Organization Interest:[???] Profession: 2D artist and Storyteller';
var lop = 50;

function sed() {
  if (j < hip.length) {
    document.getElementById("mbu").innerHTML += hip.charAt(j);
    j++;
    setTimeout(sed, lop);
  }
}
</script> 
           
           
             <div  class="w3-quarter">
                  <div class="w3-card w3-margin">
                       <button onclick="wil();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Wilson Kayamba" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="son" class="w3-medium w3-relativity">W<span style="border-bottom: solid; border-bottom-color: rebeccapurple;">ilson Kaya</span>mba<br></p>
                         </div>
          
              </div>
<script>
var a = 0;
var ils = 'Organization Interest: (Computer Animations) Profession: 3D artist';
var on = 50;

function wil() {
  if (a < ils.length) {
    document.getElementById("son").innerHTML += ils.charAt(a);
    a++;
    setTimeout(wil, on);
  }
}
</script> 
                     <div  class="w3-quarter">
                  <div class="w3-card w3-margin">
                       <button onclick="sia();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="William Sianenge" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="pop" class="w3-medium w3-relativity">W<span style="border-bottom: solid; border-bottom-color: darkgreen;">illiam Sianen</span>ge<br></p>
                         </div>
       
              </div>
<script>
var h = 0;
var nge = 'Organization Interest:[???] Profession: 2D artist';
var rep = 50;

function sia() {
  if (h < nge.length) {
    document.getElementById("pop").innerHTML += nge.charAt(h);
    h++;
    setTimeout(sia, rep);
  }
}
</script> 
                          <div  class="w3-quarter">
                  <div class="w3-card w3-margin">
                       <button onclick="ror();" class="w3-button w3-transparent"><img src="images/avatar1.png" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="cho" class="w3-medium w3-relativity">Pa<span style="border-bottom: solid; border-bottom-color: darkgreen;">trick Mule</span>nga<br></p>
                         </div>
             
<script>
var x = 0;
var rox = 'Organization Interest:[???] Profession: ???';
var xxy = 50;

function ror() {
  if (x < rox.length) {
    document.getElementById("cho").innerHTML += rox.charAt(x);
    x++;
    setTimeout(ror, xxy);
  }
}
</script> 
                                               <div class="w3-card w3-margin">
                       <button onclick="ses();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Moses Mutale" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="mut" class="w3-medium w3-relativity">Mo<span style="border-bottom: solid; border-bottom-color: indigo;">ses Muta</span>le<br></p>
                         </div>
              
<script>
var b = 0;
var abb = 'Organization Interest:[???] Profession: 2D artist';
var amn = 50;

function ses() {
  if (b < abb.length) {
    document.getElementById("mut").innerHTML += abb.charAt(b);
    b++;
    setTimeout(ses, amn);
  }
}
</script> 
                           
               </div>

              </div> 
               
               <hr>
    <!--Syntuition Platform-->
    <div class="w3-container w3-center">
     <h2 class=" w3-margin-left w3-xlarge w3-relativity">Syn<span style="border-bottom: solid; border-bottom-color: darkgreen">tuition Platf</span>orm<br><span class="w3-relativity w3-medium">These are individuals who raise awareness about a particular product or service during a showcase day. <br>Individuals in this field need to have a prior history about the product or service of Syntuition in order to inform the public. </span></h2>
         <div class="w3-mobile">
                  <div class="w3-card w3-margin " >
                       <button onclick="xxr();" class="w3-button w3-transparent"><img src="images/avatar6.png" alt="Mofya Mutale" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="fya" class=" w3-medium w3-relativity">Mo<span style="border-bottom: solid; border-bottom-color: palevioletred;">fya Muta</span>le<br></p>
                         </div>
              </div>
<script>
var q = 0;
var opi = 'Organization Interest:[???] Profession: Finacial Treasurer';
var la = 50;

function xxr() {
  if (q < opi.length) {
    document.getElementById("fya").innerHTML += opi.charAt(q);
    q++;
    setTimeout(xxr, la);
  }
}
</script>
    </div>
              <hr>
        <!-- Synter (Visiting students) -->
       
       <div class="w3-container w3-center">
        <h2 class=" w3-margin-left w3-xlarge w3-relativity">Sy<span style="border-bottom: solid; border-bottom-color: purple">nter (Visiting Studen</span>ts)<br><span class="w3-medium">These are greatful individuals who visit us occasionally. They can be professionals, freelancers or part-time workers who feel<br> that Syntuition should not be where it is and should make adjustments in its operations.</span></h2>
         <div  class="w3-quarter">
                  <div class="w3-card w3-margin">
                       <button onclick="len();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Collins Mulenga" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="col" class="w3-medium w3-relativity">Co<span style="border-bottom: solid; border-bottom-color: darkgreen;">llins Mulen</span>ga<br></p>
                         </div>
              </div>
<script>
var o = 0;
var qwe = 'Organization Interest:[???] Profession: 2D artist, 3D artist, html and Python specialist';
var dn = 50;

function len() {
  if (o < qwe.length) {
    document.getElementById("col").innerHTML += qwe.charAt(o);
    o++;
    setTimeout(len, dn);
  }
}
</script> 
         <div  class="w3-quarter">
                  <div class="w3-card w3-margin">
                       <button onclick="op();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Lusekelo Kalilombe" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="pio" class="w3-medium w3-relativity">Luse<span style="border-bottom: solid; border-bottom-color: goldenrod;">kelo Kalilo</span>mbe<br></p>
                         </div>
              </div>
<script>
var l = 0;
var mbe = 'Organization Interest:[???] Profession: 2D artist';
var mn = 50;

function op() {
  if (l < mbe.length) {
    document.getElementById("pio").innerHTML += mbe.charAt(l);
    l++;
    setTimeout(op, mn);
  }
}
</script> 
         <div  class="w3-quarter">
                  <div class="w3-card w3-margin">
                       <button onclick="you();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Paul Chisenga" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="gui" class="w3-medium w3-relativity">P<span style="border-bottom: solid; border-bottom-color: darkred;">aul Chise</span>la<br></p>
                         </div>
              </div>
<script>
var m = 0;
var ela = 'Organization Interest:[???] Profession: 2D artist';
var tou = 50;

function you() {
  if (m < ela.length) {
    document.getElementById("gui").innerHTML += ela.charAt(m);
    m++;
    setTimeout(you, tou);
  }
}
</script> 
         <div  class="w3-quarter">
                  <div class="w3-card w3-margin">
                       <button onclick="osc();" class="w3-button w3-transparent"><img src="images/avatar1.png" alt="Oscar Mutale" class="w3-circle w3-center " style="width:50%;"></button>
                      <p id="car" class="w3-medium w3-relativity">Os<span style="border-bottom: solid; border-bottom-color: orange;">car Mutal</span>e<br></p>
                         </div>
              </div>
<script>
var n = 0;
var ert = 'Organization Interest:[???] Profession: 3D artist';
var swp = 50;

function osc() {
  if (n < ert.length) {
    document.getElementById("car").innerHTML += ert.charAt(n);
    n++;
    setTimeout(osc, swp);
  }
}
</script> 
    </div>
               
               
    <hr>
               
               <!-- Undergraduate/Intern Students) -->
     <div class="w3-container w3-center">
        <h2 class=" w3-margin-left w3-xlarge w3-relativity">Und<span style="border-bottom: solid; border-bottom-color: greenyellow">ergraduate Students and inte</span>rns<br><span class="w3-medium">At Syntuition, undergraduate/Intern students are described as individuals with no art/programming background at all but are interested to learn what goes around in the realm of art and computer technology. These can be medical students who want to learn the 3D technology for medical presentations or any other field.</span></h2>
    </div>

      <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate">
        <div class="w3-row-padding">
      <div class="w3-container w3-center">
       <img src="images/logo3.png" alt="Syntuition"><br><p class="w3-xlarge" style="position:relative;top:-40px;">S<span style="position:relative;top:2px;">y</span><span style="position:relative;top:4px;">n</span><span style="position:relative;top:6px;">t</span><span style="position:relative;top:8px;">u</span><span style="position:relative;top:8px;">i</span><span style="position:relative;top:6px;">t</span><span style="position:relative;top:4px;">i</span><span style="position:relative;top:2px;">o</span>n</p> 
                      </div>
            <h5 class="w3-third" style="border-bottom: solid; border-bottom-color: chocolate;">Personal Details</h5>
                                   <div class="w3-container">
                    
                          <div class="w3-half">
                    <div class="w3-margin w3-padding">
                    <span onclick="document.getElementById('id01').style.display='none';" class="w3-button w3-display-topright">&times;</span>
         <input class="w3-input w3-border w3-border-brown w3-round-xxlarge" name="first" type="text" placeholder="First Name">
                        <input class="w3-input w3-border w3-border-brown w3-round-xxlarge  w3-margin-top" name="first" type="text" placeholder="Middle Name">
                         <input class="w3-input w3-border w3-border-brown w3-round-xxlarge w3-margin-top" name="first" type="text" placeholder="Postal Address">
                         <input class="w3-input w3-border w3-border-brown w3-round-xxlarge w3-margin-top" name="first" type="text" placeholder="Phone Number">
                </div>
                </div>
                <div class="w3-half">
                <div class="w3-margin w3-padding">
            <input class="w3-input w3-border w3-border-brown w3-round-xxlarge w3-white" name="first" type="text" placeholder="Family Name">
                    <input class="w3-input w3-border w3-border-brown w3-round-xxlarge w3-margin-top" name="first" type="text" placeholder="Town">
                    <input class="w3-input w3-border w3-border-brown w3-round-xxlarge w3-margin-top" name="first" type="text" placeholder="Email Address">
                     <div class="w3-border w3-padding w3-margin-top w3-border w3-border-brown w3-round-large">
                    <label class="w3-text-blue w3-padding "><b class="w3-text-black">Sex</b></label>
      <p><input class="w3-radio" type="radio" name="gender" value="male" unchecked>
          <label>Male</label></p>
                    <p><input class="w3-radio" type="radio" name="gender" value="Female" unchecked>
                        <label>Female</label></p>
                 </div>
                </div>
                </div>
          <div class="w3-container w3-center">
          <h3>What are you?</h3>
          <div class="w3-col m2">
          <p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>3D/2D Artist</label></p>
          </div>
          <div class="w3-col m2"><p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>Scientist</label></p></div>
          <div class="w3-col m2"> <p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>Educator</label></p></div> 
          <div class="w3-col m2"><p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>Student</label></p></div> 
            <div class="w3-col m2"><p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>Architect</label></p></div>
          <div class="w3-col m2">
          <p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>Other please</label></p>
          </div>
          </div>                 
          <div class="w3-container w3-center">
          <h3>Which area are you applying for?</h3>
          <div class="w3-half">
          <p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>Summer Student</label></p>
          <p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>Rotation Student</label></p>
          <p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>Platform Student</label></p>
          </div>
          <div class="w3-half">
          <p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>Synter</label></p>
          <p><input class="w3-radio" type="radio" name="intention" value="Professional" unchecked>
          <label>Undergraduate/Intern</label></p>
          </div>
          </div>
          </div>
          <p class="w3-third" style="border-bottom: solid; border-bottom-color: darkgreen;">Prerequisite Knowledge</p>
          <div class="w3-container">
          <h4 class="w3-relativity" style="font-size: 17px;">Prior to join Syntuition, you are required to know "one" language or server script language(s)</h4>
          <div class="w3-col m2">
          <p><input class="w3-check" type="checkbox" name="reasons" value="php" unchecked>
          <label>PHP</label></p>
          <p><input class="w3-check" type="checkbox" name="reasons" value="SQL" unchecked>
          <label>SQL</label></p>
          <p><input class="w3-check" type="checkbox" name="reasons" value="SQL" unchecked>
          <label>Perl</label></p>
          </div>
          <div class="w3-col m2">
          <p><input class="w3-check" type="checkbox" name="reasons" value="Python" unchecked>
          <label>Python</label></p>
          <p><input class="w3-check" type="checkbox" name="reasons" value="C++" unchecked>
          <label>C++</label></p>
          <p><input class="w3-check" type="checkbox" name="reasons" value="SQL" unchecked>
          <label>Haskell</label></p>
          </div>
          <div class="w3-col m2">
          <p><input class="w3-check" type="checkbox" name="reasons" value="HTML5" unchecked>
          <label>HTML5</label></p>
          <p><input class="w3-check" type="checkbox" name="reasons" value="ASP" unchecked>
          <label>ASP</label></p>
          <p><input class="w3-check" type="checkbox" name="reasons" value="ASP" unchecked>
          <label>Lua</label></p>            
          </div>
          <div class="w3-col m2">
          <p><input class="w3-check" type="checkbox" name="reasons" value="CSS3" unchecked>
          <label>CSS3</label></p>
          <p><input class="w3-check" type="checkbox" name="reasons" value="AJAX" unchecked>
          <label>AJAX</label></p>
                 <p><input class="w3-check" type="checkbox" name="reasons" value="ASP" unchecked>
                   <label>Ruby</label></p>
                </div>
                <div class="w3-col m2">
                   <p><input class="w3-check" type="checkbox" name="reasons" value="JSON" unchecked>
                   <label>JSON</label></p>
                    <p><input class="w3-check" type="checkbox" name="reasons" value="Bootstrap" unchecked>
                   <label>Bootstrap</label></p>
                 <p><input class="w3-check" type="checkbox" name="reasons" value="Bootstrap" unchecked>
                   <label>Pascal</label></p>
                </div>
                <div class="w3-col m2">
                  <p><input class="w3-check" type="checkbox" name="reasons" value="Jquery" unchecked>
                   <label>Jquery</label></p>
                    <p><input class="w3-check" type="checkbox" name="reasons" value="Jquery" unchecked>
                   <label>Javascript</label></p>
                </div>
                        </div>
             <p class="w3-third" style="border-bottom: solid;border-bottom-color: orange;">Rationale For Joining</p>
            <div class="w3-container">
                <P>Not more than three markings are allowed</P>
                <table class="w3-table-all w3-large">
        <tr>
      <th>Project</th>
      <th>Box</th>
          </tr> 
                  <tr>
      <td>SynLab</td>
      <td><input class="w3-check" type="checkbox" name="reasons" value="Syndroid" unchecked></td>
          </tr>
          <tr>
      <td>Computer Animations</td>
      <td><input class="w3-check" type="checkbox" name="reasons" value="Computer Animations" unchecked></td>
          </tr>
        <tr>
      <td>Texture Creation</td>
      <td><input class="w3-check" type="checkbox" name="reasons" value="Texture Compositing" unchecked></td>
          </tr>
             <tr>
      <td>Entrepreneurship</td>
      <td><input class="w3-check" type="checkbox" name="reasons" value="Entrepreneurship" unchecked></td>
          </tr>
               <tr>
      <td>3D Print</td>
      <td><input class="w3-check" type="checkbox" name="reasons" value="3D Print" unchecked></td>
          </tr>
                         <tr>
      <td>SynArt (Digital drawings)</td>
      <td><input class="w3-check" type="checkbox" name="reasons" value="Syndroid" unchecked></td>
          </tr>
         <tr>
      <td>SynCalcu (Requires prior knowledge of Perl or Python programming language)</td>
      <td><input class="w3-check" type="checkbox" name="reasons" value="Syncalcu" unchecked></td>
          </tr>
          <tr>
      <td>Syncom (Comics creation)</td>
      <td><input class="w3-check" type="checkbox" name="reasons" value="Syncom, Synart and Literature" unchecked></td>
          </tr>
      
                    </table>
                <div class="w3-section w3-center">
                    <h5><b>Individual Mastery Level</b><br>(What is the level of your skill to the above areas you have selected?)</h5>
                    <div class="w3-third">
                     <p><input class="w3-radio" type="radio" name="mastery" value="Beginner" unchecked>
          <label>Beginner</label></p>
                    </div>
                     <div class="w3-third">
                 <p><input class="w3-radio" type="radio" name="mastery" value="intermediate" unchecked>
          <label>Intermediate</label></p>
                    </div>
                     <div class="w3-third">
                     <p><input class="w3-radio" type="radio" name="mastery" value="Professional" unchecked>
          <label>Professional</label></p>
                    </div>
                </div>
             <h4 class="w3-relativity w3-center"><b>Where would you like to work from?</b></h4>
             <div class="w3-section w3-relativity w3-center">
                            <div class="w3-quarter"><p><input class="w3-check" type="checkbox" name="reasons" value="php" unchecked>
                             <label>Animation Studio</label></p></div>
              <div class="w3-quarter"><p><input class="w3-check" type="checkbox" name="reasons" value="php" unchecked>
               <label>Workshop</label></p></div>
            <div class="w3-quarter"><p><input class="w3-check" type="checkbox" name="reasons" value="php" unchecked>
             <label>Store</label></p></div>
              <div class="w3-quarter"><p><input class="w3-check" type="checkbox" name="reasons" value="php" unchecked>
               <label>Adminstration</label></p></div>
             </div>
            
                <h4 class="w3-relativity w3-center"><b>How did you hear us?</b></h4>
             <div class="w3-section w3-relativity w3-center">
                              <div class="w3-third">
                     <p><input class="w3-radio" type="radio" name="mastery" value="Beginner" unchecked>
          <label>Radio Station</label></p>
                                 <p><input class="w3-radio" type="radio" name="mastery" value="Beginner" unchecked>
          <label>Website</label></p>
                    </div>
                     <div class="w3-third">
                 <p><input class="w3-radio" type="radio" name="mastery" value="intermediate" unchecked>
          <label>T.V</label></p>
                        <p><input class="w3-radio" type="radio" name="mastery" value="Beginner" unchecked>
          <label>Brochure</label></p>
                    </div>
                     <div class="w3-third">
                     <p><input class="w3-radio" type="radio" name="mastery" value="Professional" unchecked>
          <label>Social Media</label></p>
                        <p><input class="w3-radio" type="radio" name="mastery" value="Beginner" unchecked>
          <label>A friend told you</label></p>
                    </div>
             </div>
            </div>
          <div class="w3-center">
             <h3 class="w3-blue w3-round-xxlarge w3-quarter">Submit</h3>
             </div>
        </div>
        </div>
  </div>
       <script>
function w3_open() {
  document.getElementById("good").style.width = "100%";
  document.getElementById("good").style.display = "block";
}

function w3_close() {
  document.getElementById("good").style.display = "none";
}
</script>
              </body>
</html>