<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home where intuition becomes reality!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Actor|Alef|Arima+Madurai|Charm|Cookie|Cormor
  ant+Upright|Farsan|Italianno|Maitree|Marmelad|Montez|Niconne|Petit+Formal+Script|
  Philosopher|Playball|Rochester|Rosarivo|Rouge+Script
  |Tangerine&display=swap" rel="stylesheet">
</head>
<body>
<%= render :partial =>'abt' %>

<div class="w3-row ">
  <div class="w3-container" >
    <%= render :partial=>'abt2' %>
    <div class="w3-col m9">
      <div class="w3-container">
        <h2 class="w3-relativity w3-margin w3-text-brown"><%='Vision' %></h2>
        <p class="w3-margin-left w3-ready"><%='Syntuition vision is to change
        science up by turning it from reality into virtual. We want schools
        having difficulties in setting up experiments during exams for pupils
        which may be due to not having enough resources or space to accommodate
        all students however doing it virtually will have a merit over reality as
        virtually will allow things to be replaced in this case materials, exams will
         also be done anywhere, will also allow to record the activities of a student
          or seeing what a pupil was doing in the virt Lab when exams were being on.
          Exams will be done virtually and if possible, practical as well. Thus, our
          organization will make science access even to
        those with poor conditions as long as technology is there.'%></p>

      </div>
    </div>
  </div>
</div>
</body>
</html>



